@import url("https://fonts.font.im/css?family=Montserrat");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  background-color: #dfdfdf;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  margin: 0;
  text-align: center;
  /* border: 1px solid red; */
}

span {
  font-size: 0.8rem;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  font-size: 0.6rem;
  text-align: center;
  border-top: 1px solid #eaeaea;
}

.mainTime {
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.container {
  padding: 0;
}

/* Box */
.fontRed {
  color: red;
}

.box {
  margin: 15px;
  padding: 10px;
  color: black;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  /* border: 1px solid red; */
}

.box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.boxBegin {
  background-color: #fffdf8;
}

.boxOneDay {
  background-color: rgb(255, 210, 210);
}

.boxComplete {
  background-color: rgb(198, 237, 255);
}
