@import url("https://fonts.font.im/css?family=Montserrat");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
span {
  margin: 0;
  text-align: center;
  /* border: 1px solid red; */
}

span {
  font-size: 0.8rem;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  font-size: 0.6rem;
  text-align: center;
  border-top: 1px solid #eaeaea;
}

.mainTime {
  padding: 10px;
  border-bottom: 1px solid #eaeaea;
}

.container {
  padding: 0;
}

/* Box */
.fontRed {
  color: red;
}

.box {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  /* border: 1px solid red; */
}

.boxBegin {
  background-color: #eaeaea;
}

.boxOneDay {
  background-color: rgb(255, 210, 210);
}

.boxComplete {
  background-color: rgb(198, 237, 255);
}
